body{  
    background-color: beige;
    -webkit-font-smoothing: antialiased;  
}  

#wrapper{  
    width: 780px;
    margin-right: auto;
    margin-left: auto;
}  

#header{
    background-color: rgb(192,192,192);
    padding: 16px;
    text-align: center;
}

h2 {  
    color: rgb(0,0,153);
    width: 550px;  
    margin: 0px 5px;  
    padding-top: 1px;    
    font-size: 20px;  
}  

table{
    background-color: beige;
    border: 1px;
    width: 780px;
    margin: 0px 5px 0px 5px;
}

img{
    height: 190px;
    width: 140px;
}

td{
    border: rgb(255,255,255);
    font-style: normal;
    font-family: 'Times New Roman';
}    


li{
    color: rgb(85, 85, 167);
    margin-right: -1em;
}

#footer{
    background-color: rgb(192,192,192);
    padding: 16px;
}